apiVersion: v1
kind: Service
metadata:
  name: frontend
spec:
  selector:
    app: {{appName}}
    tier: frontend
  ports:
  - protocol: "TCP"
    port: 5000
    targetPort: 5000
  type: LoadBalancer
---
apiVersion: apps/v1beta2
kind: Deployment
metadata:
  name: {{appName}}-frontend
spec:
  selector:
    matchLabels:
      app: {{appName}}
      tier: frontend
      track: stable
  replicas: 1
  template:
    metadata:
      labels:
        app: {{appName}}
        tier: frontend
        track: stable
    spec:
      containers:
      - name: {{appName}}-frontend
        image: "{{remoteDockerImage}}"
        ports:
            - containerPort: 5000
              name: "external"
              protocol: "TCP"
        
