apiVersion: v1
kind: ConfigMap
metadata:
  name: {{appName}}-envvars
data:
  DB_HOST: {{dbHost}} 
  DB_PORT: "{{dbPort}}"
  DB_DATABASE: {{dbDatabase}} 
  DB_SCHEMA: {{dbPublic}} 
  AUTH_JWK: "{{authJWK}}"
